@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

main {
  /* margin-top: 8.5rem; */
  margin-top: 7.7rem;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}
